    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Boka in ett möte</h2>
                <p>Är du redo att utforska möjligheter för strategisk tillväxt och digital innovation i ditt företag? Boka en konsultation med Peter Sandström för att diskutera hur din organisation kan dra nytta av hans tjänster.
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://calendly.com/sandstream/30min" class="btn btn-default btn-lg"><i class="fa-calender"></i> <span class="Book a meeting">Boka ett möte</span></a>
                    </li>
                </ul>
                <p>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a> / +46 73 373 24 42
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>