    <!-- Sections2 Section -->
    <section id="services2" class="content-section text-center">
        <div class="services2-section">
            <div class="container">
                <div class="row" style="background: rgba(0, 0, 0, 0.8); padding: 20px;">

                    <div class="col-lg-6 col-md-6">
                        <h4 style="color:#ffffcc">STRATEGIC DIGITAL GROWTH</h4> 
                            <p>Peter leverages his extensive experience to steer businesses through the digital landscape. He designs tailored strategies, creates custom roadmaps, and positions your business for sustainable growth and market leadership.</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h4 style="color:#52a2d4">ADAPTIVE INTERIM LEADERSHIP
                        </h4>
                            <p>In transition or critical scaling periods, Peter steps in with adaptive leadership roles, such as CTO/CIO/CDO or Managing Director. His guidance is more than temporary stewardship; it's a positive impact, vital for maintaining momentum, fostering innovation, and steering your company through the multifaceted phases of digital integration and expansion.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>