    <!-- Sections2 Section -->
    <section id="services" class="content-section">
        <div class="transform-section">
            <div class="container" >
                <div class="row">
                   
                    <div class="col-lg-12 col-md-12 col-sm-12" style="background: rgba(0, 0, 0, 0.8); padding: 20px;">
                        <h2>DRIVING YOUR BUSINESS FORWARD
                            <br> with Peter Sandström</h2>
                        <p>In the fast-paced digital economy, businesses need a strategist who is deeply familiar with the technological landscape. Peter Sandström is your partner in Stockholm, offering over twenty years of experience in leading and innovating. With Peter, your business doesn’t just evolve to meet the digital demands; it thrives, transforming technological capabilities into competitive advantages, and scripting success stories in the digital space.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>