    <!-- Section1 Section -->
    <section id="about" class="content-section">
        <div class="about-section">
            <div class="container">
               <div class="row" >
                <div class="col-lg-6 col-md-6">
                    <img src="/img/peter-about.jpg" height: auto; width="100%" alt="peter">

                
                </div>
                <div class="col-lg-6 col-md-6" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
                    <h2>
                        About Peter Sandström:<br> The Digital Transformer
                    </h2>
                    <p>Peter has a storied career marked by substantial achievements, from spearheading digital initiatives at ICA, IKEA, Alstom, and ASSA ABLOY to transformative roles at Devoteam, Deloitte, and SATS. His unique strength lies in harmonising technology with business, cultivating strategic partnerships, and realising untapped market potential.</p>
                </div>
               </div>
            </div>
        </div>
    </section>