    <!-- Section1 Section -->
    <section id="about" class="content-section">
        <div class="about-section">
            <div class="container">
               <div class="row" >
                <div class="col-lg-6 col-md-6">
                    <img src="/img/peter-about.jpg" height: auto; width="100%" alt="peter">

                
                </div>
                <div class="col-lg-6 col-md-6" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
                    <h2>
                        About Peter Sandström:<br> PROVEN LEADERSHIP IN DRIVING INNOVATIVE GROWTH
                    </h2>
                    <p>Peter Sandström's career is marked by a commitment to excellence, evidenced by transformative leadership roles and the successful integration of technology in various sectors. With strategic foresight, he has expanded teams and enhanced customer satisfaction. His approach to business solutions is not just innovative—it's practical and results-driven.</p>
                </div>
               </div>
            </div>
        </div>
    </section>