    <!-- Sections2 Section -->
    <section id="services2" class="content-section text-center">
        <div class="services2-section">
            <div class="container">
                <div class="row" style="background: rgba(0, 0, 0, 0.8); padding: 20px;">

                    <div class="col-lg-6 col-md-6">
                        <h4 style="color:#ffffcc">STRATEGISK TILLVÄXT med Tech</h4> 
                            <p>Med sin omfattande erfarenhet inom ledarskap och teknik leder Peter företag genom processer för digital tillväxt. Han skapar skräddarsydda strategier som positionerar ditt företag för en hållbar framtid.</p>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h4 style="color:#52a2d4">Interim ledarskap
                        </h4>
                            <p>Under övergångsperioder eller i kritiska skalfaser, agerar Peter som en anpassningsbar ledare, till exempel som Managing Director inom tech eller som CPO, CTO, CIO eller CDO. Hans vägledning är avgörande för att upprätthålla momentum, stimulera innovation och navigera ditt företag genom komplexa etapper av digital integration och expansion.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>