    <!-- Section1 Section -->
    <section id="about" class="content-section">
        <div class="about-section">
            <div class="container">
               <div class="row" >
                <div class="col-lg-6 col-md-6">
                    <img src="/img/peter-about.jpg" height: auto; width="100%" alt="peter">

                
                </div>
                <div class="col-lg-6 col-md-6" style="background: rgba(0, 0, 0, 0.5); padding: 20px;">
                    <h2>
                        OM PETER SANDSTRÖM:
<br> BEVISAT LEDARSKAP FÖR INNOVATION OCH TILLVÄXT
                    </h2>
                    <p>Peter Sandströms karriär utmärks av förändringsledarskap och avancerad teknisk kunskap, vilket har drivit tillväxt över en mångfald av branscher. Hans strategiska insikter har lett till teamutveckling och förbättrade kundupplevelser, vilket visar på hans praktiska och nyskapande affärstänk.</p>
                </div>
               </div>
            </div>
        </div>
    </section>