    <!-- Sections2 Section -->
    <section id="services" class="content-section">
        <div class="transform-section">
            <div class="container" >
                <div class="row">
                   
                    <div class="col-lg-12 col-md-12 col-sm-12" style="background: rgba(0, 0, 0, 0.8); padding: 20px;">
                        <h2>Ta ditt företag framåt 
                            <br> med Peter Sandström</h2>
                        <p>I den hastigt föränderliga digitala ekonomin behöver företag en strateg som har djup förståelse för det tekniska landskapet. Peter Sandström, verksam i Stockholm, har mer än tjugo års erfarenhet av ledarskap och innovation inom tech. Med Peter omvandlar ditt företag digitala utmaningar till möjligheter och tekniska framsteg till konkurrensfördelar.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>